#include <dt-bindings/zmk/bt.h>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include "Polaris.dtsi"

/ {
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-charlieplex";
        interrupt-gpios = <&xiao_d 6 (GPIO_ACTIVE_LOW)>;
        gpios
            = <&gpio0  3 (GPIO_ACTIVE_LOW)>
            , <&gpio0 28 (GPIO_ACTIVE_LOW)>
            , <&gpio0 29 (GPIO_ACTIVE_LOW)>
            , <&gpio0 15 (GPIO_ACTIVE_LOW)>
            , <&gpio0 19 (GPIO_ACTIVE_LOW)>
            , <&gpio1  1 (GPIO_ACTIVE_LOW)>
            ;
    };
};

&default_transform {
    col-offset = <6>;
};
